name: PR Workflow

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
   steps:

    Step 1: Checkout the repository and provide your AWS credentials
   - name: Checkout repository
     uses: actions/checkout@v2
     with:
       fetch-depth: 0

   - name: Configure AWS Credentials
     uses: aws-actions/configure-aws-credentials@v1
     with:
       aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
       aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
       aws-region: us-west-2  # Region to access CodeGuru 

    Step 2: Add CodeGuru Reviewer Action
   - name: CodeGuru Reviewer
     uses: aws-actions/codeguru-reviewer@v1.1
     with:
       source_path: . # Java source code root
       build_path: buildFiles # build artifact(s) directory
       s3_bucket: codeguru-reviewer-1f238ff8u  # S3 Bucket with "codeguru-reviewer-*" prefix

    Step 3: Upload results into GitHub
   - name: Upload review result
     if: ${{ github.event_name != 'push' }}
     uses: github/codeql-action/upload-sarif@v1
     with:
       sarif_file: codeguru-results.sarif.json
